.text-light{
    background-color: #0000ff  !important;
}

.inifin{
    background-color: #a6a6a6 !important;
}

.container1{
    width: 32%;
}

.container2{
    width: 62%;
}

.fecha{
    font-size: 15px;
}

.hora{
    font-size: 12px;
    text-align: center;
}

body{
    line-height: 1.2;
}

.pre{
    font-size: 14px;
}



.p-3{
    font-weight: 800;
}

.edw{
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.amarillo{
    background-color: #ffff00  !important;
}      

.azulc{
    background-color: #00b0f0 !important;
}

.verde{
    background-color: #92d050 !important;
}

.rojo {
    background-color: #ff0000 !important;
    color: #fff !important;
}

.rojoc {
    background-color: #ff3121 !important;
    color: #000;
}

.tabla {
    width: 50%;
    display: none; /* Oculta todas las tablas por defecto */
}


@media (max-width: 600px){
    .tabla{
        width: 100%;
    }

    .conte{
        display: flex;
        flex-direction: column;
    }
}

.pad{
    font-weight: 800;
}

.conte {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  /* Cambiar de space-between a space-around */
    margin: 0 35px 0 35px;
}
